
input[type="text"], input[type="password"], textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 7px;
    vertical-align: middle;
    width: 270px;
}
#contact-form label {
    display: block;
    min-height: 40px;
}
#contact-form input, #contact-form textarea {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}
#contact-form textarea {
    height: 170px;
    resize: none;
}
#contact-form .buttons {
    padding: 20px 0 0;
    position: relative;
    text-align: right;
}
#contact-form .buttons span {
    display: inline-block;
    margin-right: 15px;
}
#contact-form .success, #contact-form .error, #contact-form .empty {
    display: none;
    text-align: left;
}
#contact-form .error, #contact-form .empty {
    color: red;
    font-size: 11px;
    left: 10px;
    position: relative;
    top: 0;
}
#contact-form .success, #contact-form .success strong {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #000000;
}
#contact-form .success {
    padding-bottom: 5px;
}
#contact-form2 {
}
#contact-form2 label {
    display: block;
    min-height: 60px;
}
#contact-form2 input, #contact-form2 textarea {
    border: 1px solid #E4E4E4;
    color: #6A6A6A;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 16px 15px 17px;
    vertical-align: middle;
    width: 264px;
}
#contact-form2 textarea {
    height: 207px;
    resize: none;
    width: 438px;
}
#contact-form2 .buttons {
    padding: 20px 0 0;
    position: relative;
    text-align: right;
}
#contact-form2 .buttons span {
    display: inline-block;
    margin-left: 18px;
}
#contact-form2 .success, #contact-form2 .error, #contact-form2 .empty {
    display: none;
    text-align: left;
}
#contact-form2 .error, #contact-form2 .empty {
    color: red;
    font-size: 11px;
    left: 10px;
    position: relative;
    top: 0;
}
#contact-form2 .success, #contact-form2 .success strong {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #D72B27;
}
#contact-form2 .success {
    padding-bottom: 5px;
}
#search2 {
    overflow: hidden;
    padding: 27px 0 0;
    position: relative;
}
#search2 input {
    background: url("../images/bg-input.png") repeat scroll 0 0 transparent;
    border: 1px solid #E4E4E4;
    color: #2284D5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 7px 8px 8px;
    vertical-align: middle;
    width: 178px;
}
#search2 a {
    background: none repeat scroll 0 0 #2284D5;
    color: #EAEAEA;
    display: block;
    float: left;
    font: 11px/15px Arial,Helvetica,sans-serif;
    padding: 7px 13px 10px 15px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
#search2 a:hover {
    background: none repeat scroll 0 0 #D72B27;
    color: #FFFFFF;
    text-decoration: none;
}
#search3 {
    overflow: hidden;
    padding: 18px 0 0;
    position: relative;
}
#search3 div {
    margin-right: 0;
}
#search3 input {
    background: url("../images/bg-input.png") repeat scroll 0 0 transparent;
    border: 1px solid #E4E4E4;
    color: #2284D5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 7px 8px 8px;
    vertical-align: middle;
    width: 175px;
}
#search3 a {
    background: none repeat scroll 0 0 #2284D5;
    color: #EAEAEA;
    display: block;
    float: left;
    font: 11px/15px Arial,Helvetica,sans-serif;
    padding: 8px 13px 9px 15px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
#search3 a:hover {
    background: none repeat scroll 0 0 #D72B27;
    color: #FFFFFF;
    text-decoration: none;
}
#form1 {
}
#form1 label {
    display: block;
    min-height: 40px;
    position: relative;
}
#form1 input[type="text"] {
    border-radius: 3px 3px 3px 3px;
    width: 180px;
}
#form1 input[type="radio"] {
    margin: 5px 0 0;
}
#form1 input[type="checkbox"] {
    margin: 10px 0 0;
}
#form1 textarea {
    border-radius: 3px 3px 3px 3px;
    height: 120px;
    resize: none;
}
#form1 select {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    width: 195px;
}
#form1 span.text-form {
    display: inline-block;
    min-width: 90px;
    padding: 5px 0 0;
}
#form1 div.text-form {
    padding: 5px 0 10px;
}
#form1 .text-form2 {
    display: inline-block;
    margin: 2px 10px 0 8px;
}
#form1 .text-form3 {
    display: inline-block;
    margin: 7px 0 0 8px;
}
#form1 .btns {
    padding: 10px 0 0;
}
#form2 {
}
#form2 label {
    display: block;
    min-height: 40px;
    position: relative;
}
#form2 input[type="text"] {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    width: 180px;
}
#form2 textarea {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    height: 120px;
    resize: none;
}
#form2 span.text-form {
    display: inline-block;
    min-width: 90px;
    padding: 5px 0 0;
}
#form2 div.text-form {
    min-width: 90px;
    padding: 5px 0 10px;
}
#form2 .text-form2 {
    margin: 3px 0 0 5px;
}
#form2 .text-form3 {
    padding: 8px 0 5px 5px;
}
#form2 .btns {
    padding: 10px 0 0;
}
.pad-form {
    padding-top: 5px;
}
.pad-form2 {
    padding-top: 25px;
}
#form2 .jqTransformSelectWrapper {
    float: left;
    position: relative;
    width: 194px !important;
}
#form2 .jqTransformSelectWrapper div span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;
    display: block;
    float: none;
    overflow: hidden;
    padding: 5px;
    position: relative;
    white-space: nowrap;
    width: 184px !important;
}
#form2 .jqTransformSelectWrapper a.jqTransformSelectOpen {
    background: url("../images/select.html") no-repeat scroll 0 0 transparent;
    display: block;
    height: 21px;
    position: absolute;
    right: 2px;
    top: 4px;
    width: 22px;
}
#form2 .jqTransformSelectWrapper a.jqTransformSelectOpen:hover {
    background-position: 0 -21px;
}
#form2 .jqTransformSelectWrapper ul {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    display: none;
    left: 0;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 31px;
    width: 194px !important;
    z-index: 10;
}
#form2 .jqTransformSelectWrapper ul a {
    color: #000000;
    display: block;
    font-size: 12px;
    padding: 5px 5px 5px 12px;
}
#form2 .jqTransformSelectWrapper ul a.selected {
    color: #B94A48;
}
#form2 .jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #FFFFFF;
    text-decoration: none;
}
#form2 .jqTransformRadioWrapper {
    display: block;
    float: left;
    margin: 5px 0 0;
}
#form2 .jqTransformRadio {
    background: url("../images/radio.html") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
#form2 a.jqTransformChecked {
    background: url("../images/radio.html") no-repeat scroll 0 -17px transparent;
}
#form2 span.jqTransformCheckboxWrapper {
    display: block;
    float: left;
    padding: 10px 0 0;
}
#form2 a.jqTransformCheckbox {
    background: url("../images/checkbox.html") no-repeat scroll 0 0 transparent;
    display: block;
    height: 15px;
    vertical-align: middle;
    width: 15px;
}
#form2 .jqTransformCheckboxWrapper a.jqTransformChecked {
    background: url("../images/checkbox.html") no-repeat scroll 0 -16px transparent;
}
#form2 .jqTransformHidden {
    display: none;
}
#search, #subscribe {
    vertical-align: middle;
}
#search input, #subscribe input {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    width: 180px;
}
#search .btn, #subscribe .btn {
    margin-top: -1px;
    padding: 7px 10px;
}
#log_in {
    vertical-align: middle;
}
#log_in input {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    width: 90px;
}
#log_in .btn {
    margin-top: -1px;
    padding: 7px 10px;
}
#log_in2 {
    padding: 10px 0 0;
    vertical-align: middle;
    width: 274px;
}
#log_in2 label {
    display: block;
    min-height: 40px;
}
#log_in2 input {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
    width: 258px;
}
#log_in2 .btn {
    padding: 7px 10px;
}
#log_in2 .buttons {
    padding: 5px 0;
    text-align: right;
}
#newsletter {
    padding: 30px 0 0;
    vertical-align: middle;
}
#newsletter input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CDCDCD -moz-use-text-color #CDCDCD #CDCDCD;
    border-image: none;
    border-radius: 2px 0 0 2px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    color: #8B8B8B;
    padding: 9px;
    width: 376px;
}
#newsletter .btn {
    border: 1px solid #CDCDCD;
    border-radius: 0 2px 2px 0;
    box-shadow: none;
    margin-left: 0;
    margin-top: 0;
    padding: 9px 15px 10px;
}
#newsletter .btn:hover {
    background: -moz-linear-gradient(center top , #E0E0E0, white) repeat scroll 0 0 transparent;
}
